.overflow-auto {
    height: 100px;
}
.save,
.back {
    background-color: white;
    background-image: linear-gradient(white, rgb(215, 213, 213), white);
    border: solid 1px grey !important;
    padding: 1px !important;
    width: 90px !important;
    margin: 0 10px;
    border-radius: 4px;
}

a {
    text-decoration: none !important;
    color: black !important;
}

.main-input {
    border: solid 1px grey;
    padding: 7px !important;
}

.main-input2 {
    padding: 10px !important;
    border: solid 1px grey;
}

.details2{
	border: solid 1px black !important;
	}